@inherits AuthorizedPageBase

@using System.ComponentModel.DataAnnotations
@using WebApplication.Stores

@inject EngineStore EngineStore

<EditForm Model="_formData" OnValidSubmit="CreateEngine" FormName="CreateEngine">
    <DataAnnotationsValidator/>
    <InputText @bind-Value="@_formData.Name" Id="Name"></InputText>
    <ValidationMessage For="@(() => _formData.Name)"/>

    <InputText @bind-Value="@_formData.GitUrl" Id="GitUrl"></InputText>
    <ValidationMessage For="@(() => _formData.GitUrl)"/>
    
    <InputTextArea @bind-Value="@_formData.BuildScript" Id="BuildScript" /> @*TODO monaco editor?*@
    <ValidationMessage For="@(() => _formData.BuildScript)"/>
    
    <button type="submit" class="btn" value="Save">Create</button>
</EditForm>

@code {
    private CreateEngineModel _formData = new CreateEngineModel();
    
    [CascadingParameter, EditorRequired]
    public required ManageEngines Parent { get; set; }
    
    private void CreateEngine()
    {
        EngineStore.Add(_formData.Name, _formData.GitUrl, _formData.BuildScript, UserId!);
        Parent.ReloadState();
    }
    
    private class CreateEngineModel
    {
        [Required]
        public string Name { get; set; } = "";
        
        [Required]
        [Url]
        public string GitUrl { get; set; } = "";
        
        [Required]
        public string BuildScript { get; set; } = "";
    }
}