@inherits AuthorizedPageBase

@page "/Test/{id:int}"

@using WebApplication.Data.Models
@using WebApplication.Services.GitBranchComparison
@using WebApplication.Stores
@using WebApplication.Web.Components

@rendermode InteractiveServer

@inject TestStore TestStore
@inject TestErrorStore TestErrorStore
@inject NavigationManager NavigationManager
@inject IGitBranchComparisonService GitBranchComparisonService

<PageTitle>@_test!.Name</PageTitle>

<div class="d-flex flex-lg-row justify-content-between flex-column mb-lg-0 mb-3">
    <PageHeader Value="@_test!.Name"/>
    <TestStatistics Test="_test" Detail />
</div>

<div class="d-flex gap-1 flex-column" >
    <h3>Actions</h3>
    <div class="d-flex gap-3 mb-3">
        @if (_canEdit)
        {
            @if (_test.State != TestState.Stopped)
            {
                <button @onclick="StopTest" class="btn btn-warning">Stop</button>
            }
            <button @onclick="RemoveTest" class="btn btn-danger">Remove</button>
        }
        @{
            var url = GitBranchComparisonService.GetDiffUrl(_test);
        }
        @if (url.Matched)
        {
            <a href="@url.DiffUrl" target="_blank">
                <button class="btn btn-primary">
                    Show diff
                </button>
            </a>
        }
    </div>
    
    
    <h3>Test info</h3>
    <table class="table table-striped">
        <tbody>
            <KeyValueTableRow Key="Created by" Value="@_test.User.UserName" />
            <KeyValueTableRow Key="State" Value="@_test.State" />
            <KeyValueTableRow Key="Description" Value="@NoneTextIfEmpty(_test.Description)" />
            <KeyValueTableRow Key="Autobenched" Value="@_test.Autobenched" />
            <KeyValueTableRow Key="Expected NPS" Value="@_test.ExpectedNps" />
            <KeyValueTableRow Key="Opening book" Value="@_test.OpeningBook.Name" />
            <KeyValueTableRow Key="Created date" Value="@_test.Created" />
            <KeyValueTableRow Key="Ended date" Value=@(_test.Ended is not null ? _test.Ended.ToString() : "Not ended") />
            <KeyValueTableRow Key="Threadscale" Value="@_test.ThreadScale" />
            @if (_test.Autobenched)
            {
                <KeyValueTableRow Key="AutobenchState" ValueCss="padding-right: 0; padding-left: 0;" Value="AutobenchStateFragment()" /> 
            }
            <KeyValueTableRow Key="Hashsize" Value="@_test.HashSize" />
            <KeyValueTableRow Key="Time management" Value="@_test.TimeManagement" />
            <KeyValueTableRow Key="Number of threads" Value="@_test.NumberOfThreads" />
            <KeyValueTableRow Key="Priority" Value="@_test.Priority" /> @* TODO enable change *@
            <KeyValueTableRow Key="Additional fastchess options" Value="@(string.IsNullOrEmpty(_test.AdditionalFastchessOptions)? "None" : _test.AdditionalFastchessOptions)" />
            
            @BranchFragment("Base branch", _test.BaseBranch)
            @BranchFragment("Test branch",_test.TestBranch)
            
            <KeyValueTableRow Key="Alpha" Value="_test.Settings.Alpha"/> 
            <KeyValueTableRow Key="Beta" Value="_test.Settings.Beta"/> 
            <KeyValueTableRow Key="Elo0" Value="_test.Settings.Elo0"/> 
            <KeyValueTableRow Key="Elo1" Value="_test.Settings.Elo1"/> 
        </tbody>
    </table>
    
    <div class="pb-3">
        <HideUnhideContent>
            <HeaderContent>
                <h4>Workers [active @_test.ActiveWorkerThreadCount() threads] </h4>
            </HeaderContent>
            <ChildContent>
                <div class="d-flex gap-3 flex-column">
                    <h4>Active</h4>
                    @MaxHeightBox(@<WorkerLogTable WorkerLogs="@_test.WorkerLogs.Where(wl => wl.State == WorkerLogState.Active)"/>)

                    <h4>Finished</h4>
                    @MaxHeightBox(@<WorkerLogTable WorkerLogs="@_test.WorkerLogs.Where(wl => wl.State == WorkerLogState.Finished)"/>)

                    <h4>Disconnected</h4>
                    @MaxHeightBox(@<WorkerLogTable WorkerLogs="@_test.WorkerLogs.Where(wl => wl.State == WorkerLogState.Disconnected)"/>)
                </div>
            </ChildContent>
        </HideUnhideContent>
    </div>
    
    <div class="pb-3">
        <HideUnhideContent>
            <HeaderContent>
                <h4>Errors [@_errors.Count]</h4>
            </HeaderContent>
            <ChildContent>
                @MaxHeightBox(@<TestErrorsTable Errors="_errors"/>)
            </ChildContent>
        </HideUnhideContent>
    </div>

</div>

@* TODO LLR/Elo history as a graph. *@

@code {
    private Data.Models.Test? _test;
    private bool _canEdit;
    private IReadOnlyList<TestError> _errors = [];
    
    /// <summary>
    /// Id of the test. 
    /// </summary>  
    [Parameter]
    public required int Id { get; set; }

    /// <inheritdoc /> 
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        RefreshTest();
        if (_test is null)
        {
            NavigationManager.NavigateTo(WebConstants.NOT_FOUND_PATH, true);   
            return;
        }
        _canEdit = _test.User.Id == UserId || _test.User.Role == UserRole.Admin;
        _errors = TestErrorStore.GetErrorsForTest(Id);
    }
    
    private void RemoveTest()
    {
        TestStore.Delete(_test!);
        NavigationManager.NavigateTo("/", true);
    }
    
    private async Task StopTest()
    {
        await TestStore.StopTest(_test!.Id);
        RefreshTest();
    }
    
    private void RefreshTest() => _test = TestStore.GetById(Id);

    private static string NoneTextIfEmpty(string? value)
        => value is null || value.Length == 0 ? "No description" : value;


    private RenderFragment AutobenchStateFragment() =>
        @<text>
             <table class="table table-striped">
                 <tbody>
                     @{
                         var css = "padding-right: 0; padding-left: 0;";
                     }
                     <KeyValueTableRow Key="Resolved" ValueCss="@css" Value="@_test!.AutobenchState!.Resolved"/>
                     @{
                         var confidence = _test.AutobenchState.Resolved ? 1 : _test.AutobenchState.Confidence;
                     }
                     <KeyValueTableRow Key="UserConfidence" ValueCss="@css" Value="@_test.AutobenchState.UserConfidence"/>
                     <KeyValueTableRow Key="Confidence" ValueCss="@css"  Value="@confidence.ToString("N")"/>
                     @{
                         var toDisplayBench = _test.AutobenchState.Bench == 0 ? "Unknown" : _test.AutobenchState.Bench.ToString();
                     }
                     <KeyValueTableRow Key="Expected bench" ValueCss="@css" Value="@toDisplayBench"/>
                 </tbody>
             </table>
         </text>;


    private RenderFragment BranchFragment(string branchPrefix, TestBranch branch) =>
        @<text>
             @{
                 var keyBranchName = $"{branchPrefix} name";
                 var keyBranchBench = $"{branchPrefix} bench";
             }
             <KeyValueTableRow Key="@keyBranchName" Value="@branch.Name"/>
             <KeyValueTableRow Key="@keyBranchBench" Value="@branch.Bench"/>
         </text>;

    private RenderFragment MaxHeightBox(RenderFragment rf)
    {
        return @<div style="max-height: 500px;overflow-y: auto;">
                   @rf
               </div>;
    }
}