@inherits WebApplication.Web.Pages.AuthorizedPageBase

@using WebApplication.Data.Models
@using WebApplication.Stores
@using WebApplication.Web.Components

@inject NavigationManager NavigationManager
@inject UserStore UserStore

@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg fixed-top shadow-sm">
    <div class="container-fluid">
        <a style="cursor: pointer" class="navbar-brand" @onclick=@(() => NavigationManager.NavigateTo("/", true))>Bencher</a> 

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-none d-lg-flex justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <AuthorizeView>
                    <Authorized>
                        <ReloadLink Url="/Account/Manage">
                            <span>@context.User.Identity?.Name</span>
                        </ReloadLink>

                        @if (_canRenderNavParts)
                        {
                            <ReloadLink Url="/Account/AccessToken">
                                @Icons.AccessTokenIcon()
                            </ReloadLink>

                            <ReloadLink Url="/Test/Create">
                                @Icons.CreateTestIcon()
                            </ReloadLink>
                        }
                        @TestsFragment()
                        @ErrorsFragment()

                        @if (_canRenderNavParts)
                        {
                            <ReloadLink Url="/Engines/Manage">
                                @Icons.ManageEnginesIcon()
                            </ReloadLink>

                            <ReloadLink Url="/OpeningBooks/Manage">
                                @Icons.ManageOpeningBooksIcon()
                            </ReloadLink>
                        }
                        <ThemeSelector/>

                        <ReloadLink Url="/Account/Logout">
                            @Icons.LogoutIcon()
                        </ReloadLink>

                    </Authorized>
                    <NotAuthorized>
                        @TestsFragment()
                        @ErrorsFragment()
                        
                        <ReloadLink Url="/Account/Login">
                            <span>Login</span>
                        </ReloadLink>
                        
                        <ReloadLink Url="/Account/Register">
                            <span>Register</span>
                        </ReloadLink>
                        
                        <ThemeSelector/>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <CascadingValue Value="true">
                <AuthorizeView>
                    <Authorized>
                        <ReloadLink Url="/Account/Manage">
                            @Icons.ProfileIcon()
                            <span>@context.User.Identity?.Name</span>
                        </ReloadLink>
                        
                        @if (_canRenderNavParts)
                        {
                            <ReloadLink Url="/Account/AccessToken">
                                @Icons.AccessTokenIcon()
                                <span>Access token</span>
                            </ReloadLink>

                            <ReloadLink Url="/Test/Create">
                                @Icons.CreateTestIcon()
                                <span>Create test</span>
                            </ReloadLink>

                            <ReloadLink Url="/Engines/Manage">
                                @Icons.ManageEnginesIcon()
                                <span>Manage engines</span>
                            </ReloadLink>

                            <ReloadLink Url="/OpeningBooks/Manage">
                                @Icons.ManageOpeningBooksIcon()
                                <span>Manage opening books</span>
                            </ReloadLink>
                        }

                        @TestsFragmentMobile()
                        @ErrorsFragmentMobile()

                        <ReloadLink Url="/Account/Logout">
                            @Icons.LogoutIcon()
                            <span>Logout</span>
                        </ReloadLink>
                    </Authorized>
                    <NotAuthorized>
                        @TestsFragmentMobile()
                        @ErrorsFragmentMobile()
                        
                        <ReloadLink Url="/Account/Login">
                            @Icons.LoginIcon()
                            <span>Login</span>
                        </ReloadLink>
                        
                        <ReloadLink Url="/Account/Register">
                            @Icons.RegisterIcon()
                            <span>Register</span>
                        </ReloadLink>
                    </NotAuthorized>
                </AuthorizeView>
                <ThemeSelector AdditionalClasses="d-flex justify-content-end border-top border-1 border-secondary"/>
            </CascadingValue>
        </ul>
    </div>
</div>

@code{
    private bool _canRenderNavParts = false;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (UserId is null) return;
        
        var user = UserStore.GetById(UserId);
        if (user is not null) _canRenderNavParts = user.Role != UserRole.NotVerified;
    }
    
    private RenderFragment TestsFragment()
        => @<text>
                <div class="dropdown nav-link">
                    <a class="dropdown-toggle" style="color: var(--bs-nav-link-color)" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        @Icons.TestIcon()
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <CascadingValue TValue="string" Value=@("dropdown-item")>
                            <ReloadListItem Url="/Tests/Running" LinkText="Running tests"/>
                            <ReloadListItem Url="/Tests/Ended" LinkText="Ended tests"/>
                            <ReloadListItem Url="/Tests/Passed" LinkText="Passed tests"/>
                        </CascadingValue>
                    </ul>
                </div>
            </text>;

    private RenderFragment TestsFragmentMobile()
        => @<text>
                <div class="nav-item nav-link">
                    <div class="d-flex gap-1">
                        @Icons.TestIcon()
                        <p class="mb-1">Tests</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <CascadingValue TValue="string" Value=@("list-group-item")>
                            <ReloadListItem Url="/Tests/Running" LinkText="Running tests"/>
                            <ReloadListItem Url="/Tests/Ended" LinkText="Ended tests"/>
                            <ReloadListItem Url="/Tests/Passed" LinkText="Passed tests"/>
                        </CascadingValue>
                    </ul>
                </div>
            </text>;

    
    private RenderFragment ErrorsFragment()
        => @<text>
                <div class="dropdown nav-link">
                    <a class="dropdown-toggle" style="color: var(--bs-nav-link-color)" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                        @Icons.ErrorIcon()
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                        <CascadingValue TValue="string" Value=@("dropdown-item")>
                            <ReloadListItem Url="/Errors/Workers" LinkText="Worker errors"/>
                            <ReloadListItem Url="/Errors/Tests" LinkText="Test errors"/>
                        </CascadingValue>
                    </ul>
                </div>
        </text>;
    
    
    private RenderFragment ErrorsFragmentMobile()
        => @<text>
                <div class="nav-item nav-link">
                    <div class="d-flex gap-1">
                        @Icons.ErrorIcon()
                        <p class="mb-1">Errors</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <CascadingValue TValue="string" Value=@("list-group-item")>
                            <ReloadListItem Url="/Errors/Workers" LinkText="Worker errors"/>
                            <ReloadListItem Url="/Errors/Tests" LinkText="Test errors"/>
                        </CascadingValue>
                    </ul>
                </div>
    </text>;

}
