@using WebApplication.Web.Components

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg fixed-top shadow-sm">
    <div class="container-fluid">
        <a style="cursor: pointer" class="navbar-brand" @onclick=@(() => NavigationManager.NavigateTo("/", true))>Bencher</a> 

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-none d-lg-flex justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <AuthorizeView>
                    <Authorized>
                        <ReloadLink Url="/Account/Manage">
                            <span>@context.User.Identity?.Name</span>
                        </ReloadLink>
                        <ThemeSelector/>

                        <ReloadLink Url="/Account/AccessToken">
                            @Icons.AccessTokenIcon()
                        </ReloadLink>
                        
                        <ReloadLink Url="/Test/Create">
                            @Icons.CreateTestIcon()
                        </ReloadLink>
                        
                        <div class="dropdown nav-link">
                            <a class="dropdown-toggle" style="color: var(--bs-nav-link-color)" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                @Icons.TestIcon()
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <CascadingValue TValue="string" Value=@("dropdown-item")>
                                    <ReloadListItem Url="/Tests/Running" LinkText="Running tests"/>
                                    <ReloadListItem Url="/Tests/Ended" LinkText="Ended tests"/>
                                    <ReloadListItem Url="/Tests/Passed" LinkText="Passed tests"/>
                                </CascadingValue>
                            </ul>
                        </div>
                        
                        <ReloadLink Url="/Engines/Manage">
                            @Icons.ManageEnginesIcon()
                        </ReloadLink>

                        <ReloadLink Url="/OpeningBooks/Manage">
                            @Icons.ManageOpeningBooksIcon()
                        </ReloadLink>
                        
                        <ReloadLink Url="/Account/Logout">
                            @Icons.LogoutIcon()
                        </ReloadLink>

                    </Authorized>
                    <NotAuthorized>
                        <ReloadLink Url="/Account/Register">
                            <span>Register</span>
                        </ReloadLink>
                        <ReloadLink Url="/Account/Login">
                            <span>Login</span>
                        </ReloadLink>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <CascadingValue Value="true">
                <AuthorizeView>
                    <Authorized>
                        <ThemeSelector/>
                        
                        <ReloadLink Url="/Account/Manage">
                            @Icons.ProfileIcon()
                            <span>@context.User.Identity?.Name</span>
                        </ReloadLink>

                        <ReloadLink Url="/Account/AccessToken">
                            @Icons.AccessTokenIcon()
                            <span>Access token</span>
                        </ReloadLink>
                        
                        <ReloadLink Url="/Test/Create">
                            @Icons.CreateTestIcon()
                            <span>Create test</span>
                        </ReloadLink>

                        <ReloadLink Url="/Engines/Manage">
                            @Icons.ManageEnginesIcon()
                            <span>Manage engines</span>
                        </ReloadLink>

                        <ReloadLink Url="/OpeningBooks/Manage">
                            @Icons.ManageOpeningBooksIcon()
                            <span>Manage opening books</span>
                        </ReloadLink>

                        <div class="nav-item nav-link">
                            <div class="d-flex gap-1">
                                @Icons.TestIcon()
                                <p class="mb-1">Tests</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <CascadingValue TValue="string" Value=@("list-group-item")>
                                    <ReloadListItem Url="/Tests/Running" LinkText="Running tests"/>
                                    <ReloadListItem Url="/Tests/Ended" LinkText="Ended tests"/>
                                    <ReloadListItem Url="/Tests/Passed" LinkText="Passed tests"/>
                                </CascadingValue>
                            </ul>
                        </div>

                        <ReloadLink Url="/Account/Logout">
                            @Icons.LogoutIcon()
                            <span>Logout</span>
                        </ReloadLink>
                    </Authorized>
                    <NotAuthorized>
                        <ReloadLink Url="/Account/Register">
                            @Icons.RegisterIcon()
                            <span>Register</span>
                        </ReloadLink>
                        <ReloadLink Url="/Account/Login">
                            @Icons.LoginIcon()
                            <span>Login</span>
                        </ReloadLink>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingValue>
        </ul>
    </div>
</div>

